.scorePanelContainer {
  margin-top: 2rem;
  width: 62rem;
  /* background-color: aqua; */
  /* padding: 1rem; */
  /* box-sizing: initial !important; */
}

.liveIC {
  background-color: #d03f38;
  color: #fff;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
  border-radius: 2px;
  width: fit-content;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.country {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
  /* margin-top: 1rem; */
}

.scoreOver {
  font-size: 1.5rem;
  font-weight: 600;
}

.scoreOver span {
  opacity: 0.8;
  font-weight: 400;
  margin-right: 0.5rem;
}

.nameLogo {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.matchPrediction {
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.liveScoreTable {
  width: 100%;
  /* text-align: left; */
}

.StatsTable {
  width: 100%;
  /* width: 62rem; */
  border-collapse: collapse;
}

.StatsTableHead {
  background-color: #d6ebff;
  font-weight: 600;
  font-size: 1.4rem;
}

.tableHead {
  padding: 0.5rem 1rem;
  /* padding: 0.5rem 0; */
  text-align: left;
  /* border-spacing: 0; */
  /* background-color: #d03f38 ; */
  /* background-color: #d03f38; */
  /* width: 1rem !important; */
}

/* .tablePlay {
  padding: 0;
  overflow: hidden;
  background-color: #d03f38;
} */

.tableMetric {
  /* padding: 0 1.1rem; */
  width: 4rem;
  /* background-color: #d03f38; */
}

.tableDataBody {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.playerName {
  font-weight: 600;
  /* max-width: 2rem; */
  /* overflow: hidden; */
  /* background-color: aqua; */
  color: #003161;
}

.tossResult {
  padding: 0.5rem 1rem;
  background-color: #d6ebff;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  .scorePanelContainer {
    margin-top: 2rem;
    width: 100%;
  }

  .liveIC {
    margin-left: 1rem;
  }

  .countryDetails {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .matchPrediction {
    margin-left: 1rem;
  }
}
