.scorePanelContainer {
  margin-top: 2rem;
  width: 60%;
  /* background-color: aqua; */
  /* padding: 1rem; */
}

.liveIC {
  background-color: #d03f38;
  color: #fff;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
  border-radius: 2px;
  width: fit-content;
}

.countryDetails {
  margin-top: 0.5rem;
}

.country {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
  /* margin-top: 1rem; */
}

.scoreOver {
  font-size: 1.4rem;
  font-weight: 600;
}

.scoreOver span {
  opacity: 0.8;
  font-weight: 400;
  margin-right: 0.5rem;
}

.nameLogo {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.matchPrediction {
  font-weight: 600;
}

.liveScoreTable {
  width: 100%;
  /* text-align: left; */
}

.StatsTable {
  width: 100%;
  border-collapse: collapse;
}

.StatsTableHead {
  background-color: #98ccff;
  font-weight: 600;
  font-size: 1.3rem;
}

.tableHead {
  padding: 0.5rem 1rem;
  text-align: left;
  border-spacing: 0;
}

.tablePlay {
  width: 40rem;
}

.tableMetric {
  padding: 0 1.1rem;
}

.tableDataBody {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.playerName {
  font-weight: 600;
  color: #003161;
}

.tossResult {
  padding: 0.5rem 1rem;
  background-color: #98ccff;
  font-size: 1.1rem;
}
