.CategoryPosts {
  /* margin-top: 10rem; */
  /* margin-left: 12.5rem;
  margin-right: 12.5rem; */
  max-width: 1040px;
  margin: 0 auto;
}
.categoryTitleDescription{
  margin-top: 6rem;
}

.catDescription {
  max-height: 5rem;
  overflow: hidden;
  font-size: 1.2rem;
  transition: max-height 0.3s ease; /* Use max-height for smooth animation */
}

.catDescription:hover {
  max-height: none; /* Set max-height to 'none' to fully show the content on hover */
  cursor: pointer;
  /* color: aqua; */
}

.categoryTitle {
  margin-bottom: 2rem;
}

.newsCardsDisplay {
  margin-top: 4rem;
}

.newsCardsDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.paginationContainer {
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  justify-content: center;
}

.activeLink {
  background-color: #092d55;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .CategoryPosts {
    /* margin: 0; */
    /* margin-top: 8rem; */
    margin-top: 6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .categoryTitle {
    margin-top: 0.5rem;
  }

  .categoryTitle {
    margin-bottom: 0;
  }

  .newsCardsDisplay {
    margin-top: 0;
  }

  .categoryTitleDescription {
    margin-top: 0rem;
  }
}
