.CategoryPosts {
  margin-top: 8rem;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}

.categoryTitle {
  margin-bottom: 2rem;
}

.newsCardsDisplay {
  margin-top: 4rem;
}

.newsCardsDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 576px) {
  .CategoryPosts {
    margin: 0;
    /* margin-top: 8rem; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .categoryTitle {
    margin-top: 0.5rem;
  }

  .categoryTitle {
    margin-bottom: 0;
  }

  .newsCardsDisplay {
    margin-top: 0;
  }

  .categoryTitleDescription {
    margin-top: 0rem;
  }
}
