.TeamCountryNavUl {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.4rem;
}

.TeamCountryNavLi {
  padding-bottom: 0.2rem;
}

.TeamCountryNav {
  margin-top: 2rem;
  white-space: nowrap;
}

.active {
  border-bottom: 1px solid #000;
}

@media (max-width: 576px) {
  .TeamCountryNav {
    overflow: scroll;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
