.container {
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 6rem;
}

.teamSelect {
  margin-top: 2rem;
}

.playerGenderSelectorAndSearchContainer {
  display: flex;
  /* width: 62rem; */
  padding: 1rem;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 600;
  color: #206bb3;
  margin-top: 1rem;
}

.genderSelector ul {
  display: flex;
  gap: 1rem;
}

.genderSelector ul li {
  list-style-type: none;
}

.active {
  text-decoration: underline !important;
  color: #003161 !important;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
