.navSeriesUL {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-weight: 600;
  color: #206bb3;
  font-size: 1.1rem;
}

.active {
  color: #003161;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .navSeriesUL {
    display: flex;
    justify-content: space-around;
  }
}
