/* .container {
  margin-bottom: 2rem;
} */

.letter {
  font-size: 1.5rem;
  color: #0c4c8a;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 600;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
