.item {
  display: flex;
  gap: 3rem;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  /* border-bottom: 1px solid rgba(152, 204, 255, 0.30); */
}

.left,
.right {
  padding: 0.2rem 1rem;
  width: 50%;
}

.tableHead {
  display: flex;
  width: 62rem;
}

.title {
  width: 12rem;
  color: rgb(0, 0, 0, 0.7);
}

.value {
  width: 15rem;
  overflow: hidden;
}

@media (max-width: 576px) {
  .tableHead {
    flex-direction: column;
    width: 100%;
  }

  .left,
  .right {
    width: 100%;
  }

  .title,
  .value {
    width: 100%;
  }
}
