.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 4.5rem;
  min-width: 4.5rem;
  background-color: #fff;
  border-radius: 80px;
}
