.container {
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 4rem;
}

.soundBox {
  margin-top: 2rem;
}

.navUl {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  list-style-type: none;
  font-size: 1.3rem;
  color: #206bb3;
}

.active {
  color: #003161;
  text-decoration: underline;
}

.scoreCardWithSeriesName {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.name {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #003161;
  font-weight: 600;
}

@media (max-width: 576px) {
  .soundBox {
    margin: 0 0.5rem;
  }

  .nav {
    display: flex;
    /* justify-content: center; */
    margin-left: 1rem;
  }

  .navUl {
    display: flex;
    font-size: 1.9rem;
  }

  /* .nav, */
  /* width: 90%; */
  /* .navUl {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  } */

  .navUl {
    display: flex;
    /* justify-content: space-around; */
    /* padding: 2rem; */
    gap: 2rem;
  }

  .scoreCardWithSeriesName,
  .seriesCard {
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
