.homeContainer {
  /* height: 100vh; */
  /* margin: 0 12.5rem 0 12.5rem; */
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  margin-top: 8.6rem;
}

.newsSectionDiv {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .homeContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4.6rem;
  }
}
