.postPageContainer {
  margin-left: 12.5rem;
  margin-right: 12.5rem;
  margin-top: 4rem;
}
.postDetailListContainer {
  display: flex;
  margin-top: 1.4rem;
  gap: 2rem;
}

.relatedArticleTitle {
  color: #d03f38;
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.relatedArticleTitle span {
  color: #003161;
}

.relatedArticlePosts {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .postPageContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
  }
}
