.ulList {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  list-style-type: none;
  color: #0c4c8a;
  font-size: 1.29rem;
  overflow-x: scroll;
}

.ulList::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.ulList {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.ulList li {
  border-radius: 10px;
  border: 1px solid rgba(152, 204, 255, 0.3);
  padding: 0.4rem 0.9rem;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .ulList {
    font-size: 1.5rem;
  }
}
