/* .title {
  width: 50%;
} */

/* .newsContainer {
  max-width: 50%;
} */

.newsContainer {
  border: 1px solid rgba(152, 204, 255, 0.3);
  border-radius: 12px;
  /* width: 100%; */
  width: 26.5rem;
  height: 28rem;
  margin-bottom: 1.5rem;
}

.title {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.9rem;
  margin-bottom: 0.5rem;
  /* padding: 1rem; */
  font-size: 1.3rem;
  color: #444;
}

.newsContainerImage {
  object-fit: cover;
}

@media (max-width: 576px) {
  .newsContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(152, 204, 255, 0.3);
    border-radius: 12px;
    width: 100%;
    height: 12.1rem;
    /* font-size: 1.9rem; */
  }

  .title {
    font-size: 1.7rem;
    height: 11rem;
    line-height: 2.2rem;
    overflow: hidden;
  }

  .newsContainerImage {
    width: 14rem;
    height: 12rem;
    border-radius: 10px !important;
  }
}
