.breadCrumbContainer {
  /* margin-top: 5.4rem; */
  /* margin-top: 5rem; */
  /* color: #98ccff; */
  color: #0C4C8A;
  font-size: 1rem;
}

.breadCrumbUl {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

@media (max-width: 576px) {
  /* .breadCrumbContainer {
    overflow: scroll;
  } */

  /* .breadCrumbUl {
    overflow: hidden;
    width: 325px;
    display: -webkit-box;
    -webkit-line-clamp: 200;
    -webkit-box-orient: vertical;
  } */
  .breadCrumbContainer {
    margin-left: 0.5rem;
  }
}
