.breadCrumbContainer {
  margin-top: 5.4rem;
  color: #98ccff;
  font-size: 1rem;
}

.breadCrumbUl {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

@media (max-width: 576px) {
  .breadCrumbContainer {
    width: 100%;
  }
}
