.mobSecondaryNavContainer,
.moreItemsContainer {
  display: none;
}

@media (max-width: 576px) {
  .mobSecondaryNavContainer {
    display: flex;
    align-items: center;
    /* padding: 0.5rem; */
    /* overflow: scroll; */
    padding-left: 1.3rem;
    margin-top: 4rem;
    height: 2.5rem;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
    /* background-color: aquamarine; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
  }

  .mobSecondaryNavUl {
    overflow: scroll;
    list-style-type: none;
    align-items: center;
    display: flex;
    /* background-color: aqua; */
    flex-direction: row;
    gap: 1.8rem;
    font-weight: 600;
    color: #003161;
    padding-right: 8rem;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    align-items: center;
  }

  .icon{
    display: flex;
    align-items: center;
  }

  .mobSecondaryNavUl li {
    display: flex;
    gap: 0.5rem;
    border-bottom: 1.3px solid rgba(12, 76, 138, 1);
    line-height: 2.2rem;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    /* height: 100%; */
  }

  .moreItems {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: absolute;
    align-self: center;
    font-weight: 600;
    background-color: #b7dbff;
    padding-left: 2rem;
    padding-right: 2rem;
    right: 0;
    height: 2.5rem;
  }

  .moreItemsContainer {
    display: none;
    z-index: 3;
    background-color: #b7dbff;
    position: absolute;
    right: 0;
    width: 80%;
    padding: 1rem;
    height: 43rem;
  }

  .active {
    display: flex;
  }

  .moreItemsContainer ul {
    place-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    list-style-type: none;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .moreItemsContainer li {
    place-self: center;
    width: 100%;
  }
}
