/* .NavLogo{
    margin-left: 2.4rem;
} */

.navbarDiv {
  margin-inline: auto;
  width: 100vw;
}

.navContainer {
  display: flex;
  border-bottom: 1px solid #0000001a;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /*Position the navbar at the top of the page */
  width: 100vw;
  width: 100dvw;
  z-index: 999;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* gap: 2rem; */
  /* background-color: #0c4c8a; */
  background-color: #fff;
  height: 4rem;
  /* margin-inline: auto; */
  /* padding: 0 165px 0 165px; */
  /* padding: 0 26rem 0 26rem; */
}

.innerContainer {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.NavbarOption {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  /* margin-left: auto; */
  /* margin-right: 21.7rem; */
  margin-right: auto;
}

.NavbarOption ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  font-size: 1.4rem;
  /* color: #fff; */
  font-weight: 600;
}

.navItemIcon {
  display: flex;
  align-items: center;
}

.navIcon {
  height: 1rem;
}
.navLi {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}

.navOptions {
  display: flex;
  gap: 1rem;
}

.navLogin {
  display: flex;
  color: #fff;
  align-items: baseline;
  font-size: 8px;
}

.sideBarMobile {
  display: none;
}

/* .plainIc {
  filter: invert(1);
} */

.navLoginText {
  color: #98ccff;
}

.navOptionsMobile {
  display: none;
}

@media (max-width: 576px) {
  .search {
    display: none;
  }
  .navOptionsMobile {
    display: block;
  }
  .NavbarOption,
  .navLoginText,
  .navLogin {
    display: none;
  }

  .plainIc {
    filter: invert(1);
    height: 3rem;
    width: 3rem;
  }

  .navOptions {
    gap: 0.4rem;
  }

  .navContainer {
    gap: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    height: 5rem;
  }

  .innerContainer {
    justify-content: space-between;
  }

  .active {
    right: 0 !important;
    transition: 350ms;
  }

  .sideBarMobile {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9;
    top: 0;
    right: -80%;
    height: 100vh;
    background-color: #fff;
    color: #000;
    width: 70%;
    box-shadow: -2px 0px 20px 1px #000;
    transition: right 0.3s ease-out;
  }

  .sideBarMobile ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style-type: none;
    font-size: 2.5rem;
    margin-top: 5rem;
    width: 100%;
  }

  .sideBarMobile ul li {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: 0.5px solid #000; */
    width: 100%;
  }
}
