.postDisplayContainer {
  width: 62.4rem;
  margin-top: 1.3rem;
  overflow-x: hidden;
  height: 100%;
}

.postHeading {
  font-size: 1rem;
  border-left: 3px solid #000;
  padding-left: 0.5rem;
}

.authorDetail {
  display: flex;
  margin-top: 1.3rem;
  gap: 1.6rem;
  opacity: 0.7;
}

.authorName {
  display: flex;
  gap: 0.5rem;
}

.publishDate {
  display: flex;
  gap: 0.5rem;
}

.postSummary {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

.postCover {
  margin-top: 0.6rem;
}

.postDescription img {
  max-width: 62rem;
}

.postDetailListContainer {
  width: 62rem;
}

.postDescription {
  /* white-space: pre-wrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word; */
  /* white-space: normal; */
  /* word-wrap: break-word; */
  /* max-width: 100%; */
  width: 62rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.postDescription a {
  color: blue;
  text-decoration: underline;
}

.postDescription img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .postDisplayContainer {
    width: 100%;
    margin-top: 1.3rem;
  }
}
