.scoreCardContainer {
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  /* padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  padding: 0.5rem;
  width: 32rem;
  /* height: 14rem; */
}

.scoreCardInner {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
  overflow: hidden;
}

.scoreMain {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
}

.matchScoreDetails {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.matchCardsButtons {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.matchCardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /* font-weight: bold; */
  width: 100%;
  background-color: #98ccff;
  border: none;
  padding: 0.4rem 0.3rem;
  border-radius: 3px;
  white-space: nowrap;
}

.countryNameIC {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.matchTitleDiv {
  display: flex;
  gap: 1rem;
}
.countryNameScore {
  display: flex;
  justify-content: space-between;
  /* padding-right: 0.5rem; */
}

.liveIC {
  background-color: #d03f38;
  color: #fff;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
  border-radius: 2px;
}

.countryScore {
  display: flex;
  gap: 0.3rem;
}

.countryScoreOver {
  font-size: 0.9rem;
}

.countryScoreRuns {
  font-size: 1.5rem;
  font-weight: bold;
}

.matchTitle {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.countryName {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 576px) {
  .scoreCardContainer {
    padding: 0.5rem;
    width: 100%;
    height: 14rem;
  }

  .scoreCardInner {
    gap: 0.8rem;
  }

  .countryName {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .countryScoreOver {
    font-size: 1rem;
  }

  .countryScoreRuns {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .matchCardButton {
    padding: 0.6rem 0.3rem;
  }
}
