.scoreCardContainer {
  flex-direction: column;
  border: 1px solid rgba(152, 204, 255, 0.3);
  border-radius: 20px;
  padding: 1rem;
  width: 33rem;
}

.matchCardButton {
  font-weight: 600;
}

.scoreCardInner {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
  overflow: hidden;
}

.scoreMain {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
}

.matchScoreDetails {
  font-size: 1.2rem !important;
  color: #0c4c8a;
  font-weight: bold;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.hRule {
  border-color: rgba(152, 204, 255, 0.2);
  border-width: 1px 0 0 0;
  margin-bottom: 0.3rem;
}

.matchCardsButtons {
  display: flex;
  justify-content: space-around;
  gap: 0.3rem;
}

.matchCardsButtons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgb(152, 204, 255, 0.3);
  border: none;
  padding: 0.4rem 1.6rem;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;
  height: 2.4rem;
}

.matchCardsButtons a button {
  color: #0c4c8a;
  font-weight: 600;
}

.matchCardButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.countryNameIC {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.matchTitleDiv {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.countryNameScore {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.liveIC {
  background-color: #169a00;
  color: #fff;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  border-radius: 4px;
}

.countryScore {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.countryScoreOver {
  font-size: 0.9rem;
}

.countryScoreRuns {
  font-size: 1.5rem;
  font-weight: bold;
}

.matchTitle {
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(0, 0, 0);
  display: flex;
}

.matchTitle :nth-child(1),
.matchTitle :nth-child(2) {
  font-weight: 700;
}

.countryName {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 576px) {
  .matchCardsButtons a {
    height: 3rem;
    padding: 0.4rem 2.2rem;
  }

  .scoreCardContainer {
    width: 100%;
  }

  .scoreCardInner {
    gap: 0.8rem;
  }

  .countryName {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .countryScoreOver {
    font-size: 1rem;
  }

  .countryScoreRuns {
    font-size: 1.7rem;
    font-weight: bold;
  }
}
