.container {
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 4rem;
}

.containerSeriesMain {
  display: flex;
  gap: 2rem;
}

@media (max-width: 576px) {
  .soundUpdateDiv {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .containerSeriesMain {
    display: block;
  }
  .right {
    display: none;
  }
}
