.morePostContainer {
  margin-top: 8rem;
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}

.latestNewsSectionTabs,
.OtherNewsSectionTabs {
  display: flex;
  gap: 1rem;
}

.latestNewsSectionTabs,
.OtherNewsSectionTabs {
  display: flex;
  flex-wrap: wrap;
}

.OtherNewsSection {
  margin-top: 4rem;
}

.readMoreBtn{
    display: flex;
    flex-direction: row-reverse;
}

.btn {
  background-color: #fff;
  border: none;
  color: #003161;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-right: 1rem;
}
