.container {
  width: 100%;
  height: 45rem;
  padding: 2rem;
  background-color: #0c4c8a;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  /* padding-top: 3rem; */
  /* padding-bottom: 5rem; */
}
.container0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.listUl {
  line-height: 3rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    gap: 8rem;
    padding: 0;
    padding-top: 3rem;
    /* padding-left: 4rem; */
  }

  .container1,
  .container2 {
    margin-left: 3rem;
  }
}
