.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Set the width to 100% */
}

.form {
  width: 100%;
}

.input {
  padding: 10px 15px;
  flex: 1;
  border: none;
  outline: none;
  background-color: #0000001a;
  border-radius: 10px 0 0 10px;
  width: calc(
    100% - 80px
  ); /* Adjust this value based on the width of your button */
}

.button {
  border-radius: 0 10px 10px 0;
  padding: 10px 15px;
  background-color: #0c4c8a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #98ccff;
}
