.container {
  display: flex;
  gap: 0.8rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.containerMainLiveScore {
  max-width: 1040px;
  margin: 0 auto;
  margin: 0 auto;
  margin-top: 4rem;
}

.container p {
  padding: 0.2rem 0;
  color: #206bb3;
  font-weight: 600;
}

.active {
  border-bottom: 2px solid #003161 !important;
  color: #003161 !important;
}

.commentaryStatBox {
  width: 62rem;
}

.overScore {
  display: flex;
  background-color: #d6ebff;
  padding: 0.5rem 0.5rem;
}

.overRuns,
.score {
  display: flex;
  gap: 0.6rem;
  width: 100%;
}

.over,
.outOfRuns {
  font-size: 1.3rem;
  font-weight: 600;
}

.runs,
.runRate {
  /* font-weight: 600; */
  font-size: 1.3rem;
  color: #206bb3;
}

.playerBox {
  display: flex;
  background-color: #eaf5ff;
  padding: 0.5rem 0.5rem;
}

.playerBatting,
.playerBowling {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  color: #0f1010;
}

.playerBatting1,
.playerBatting2 {
  display: flex;
  justify-content: space-between;
}

.playerBowling2,
.playerBowling1 {
  display: flex;
  justify-content: space-between;
}

/* .playerScore,
.playerName {
  width: 100%;
} */

.playerBatting {
  padding-right: 0.5rem;
}

.playerBowling {
  padding-left: 0.5rem;
}

.scoreNews {
  display: flex;
  gap: 2rem;
}

@media (max-width: 576px) {
  .container {
    white-space: nowrap;
    overflow: scroll;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .soundUpdateDiv {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .commentaryStatBox {
    width: 100%;
    margin-bottom: 1rem;
  }
  .scoreNews {
    display: block;
    gap: 0;
  }
  .containerRight {
    display: none;
  }
}
