.container {
  width: 62rem;
  border: 1px solid #0000001a;
  font-size: 1.4rem;
  font-weight: 600;
}

.selected {
  background-color: #0c4c8a;
  color: #fff;
}

.teamA,
.teamB {
  padding: 0.5rem;
}
