.liveScoreNavUl {
  display: flex;
  gap: 0.6rem;
  list-style-type: none;
  font-size: 1.1rem;
}

.liveScoreNavContainer {
  font-weight: 600;
  display: flex;
  margin-top: 1rem;
  color: #206bb3;
}

.active {
  color: #003161;
  text-decoration: underline;
}

/* @media (max-width: 576) {
  .liveScoreNavUl,
  .liveScoreNavContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
} */
